<input [formControl]="control" [type]=type
       class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                    duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
       [placeholder]=placeholder [mask]="format"/>
<ng-container *ngIf="control && control.touched">
  <p *ngIf="control.errors?.required" class="text-red-500">Field is required</p>
  <p *ngIf="control.errors?.minlength" class="text-red-500">Must be at least {{control.errors?.minlength.actualLength}} characters long</p>
  <p *ngIf="control.errors?.email" class="text-red-500">Must be a valid email</p>
  <p *ngIf="control.errors?.min" class="text-red-500">Value too low</p>
  <p *ngIf="control.errors?.max" class="text-red-500">Value too high</p>
  <p *ngIf="control.errors?.pattern" class="text-red-500">Password must have at least 1 uppercase letter, 1 lowercase letter, 1 number and 8 characters</p>
  <p *ngIf="control.errors?.matching" class="text-red-500">Passwords must be the same</p>
</ng-container>
